body {
    font-family: 'Muli', sans-serif;
    margin: 0px;
}

ul, li {
    margin: 0px;
}

li {
    list-style: none;
}

h1 {

    line-height: 1.5;
    letter-spacing: -0.2px;
    color: white;
    font-size: 30px;
    margin-left: 20px;
    padding-top: 25px;
    margin-top: 0px;
}

h1 strong {
    color: teal;
}

h2 {
    margin-top: 20px;
    color: #121212;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-weight: bold;
    font-size: 35px;
}

.header {
    background: #121212;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.log-display {
    display: flex;
    align-items: center;
}

.logo {
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
}

.logo__image {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 0px;
    padding: 0px;
}

.logo__diego {
    font-weight: bold;
    color: white;
    margin: 0 0 0 8px;
}

.logo__diego p {
    font-size: 20px;
    font-weight: normal;
}

.logo__diego p {
    margin: 0px;
    padding: 0px;
}

.nav {
    height: inherit;
}
.nav ul {
    display: flex;
    align-items: center;
    padding: 0px;
    height: inherit;
}

.nav li {
    height: inherit;

}

.link {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    height: inherit;
}

.link:hover {
    text-decoration: underline;
}

.hero {
    height: 300px;
    background-image: url('./PortadaLean.png');
    background-color: black;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
}

.hero h1 {
    font-size: 35px;

}

.portafolio {
    background: #FAFFFC;
    /* margin: 20px 0px; */
}

.portafolio h2 {
    padding: 15px 30px;
}

.portafolio_detalles {
    width: 500px;
}

.proyectos__titulo {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.proyectos__tecnologias {
    margin: 0px;
    font-size: 12px;
}

.proyectos__descripcion {
    font-size: 20px;
}

.portafolio__proyectos {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 35px;
    margin-left: 35px;
    padding: 10px 20px;
    background: white;
    display: flex;
    justify-content: space-between;
}

.proyectos__image {
    width: 500px;
    justify-content: right;
}

.footer {
    padding: 20px 0px;
    background: black;
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;

}

.enviar {
    padding: 10px 20px;
    border-radius: 8px;
    background: black;
    color: white;
}

.footer p {
    margin: 0px;
    text-align: center;
    letter-spacing: 1px;
}